# Import Library

In [3]:
from sportfaker.baseball import batting

# Batting Example

In [4]:
batting(CAREER_LENGTH=6)

                 AB Hits   2B  3B  HR  RBI    AVG    SLG         Name
0               491  167   34  13   3   36  0.340  0.481  Daniel Mora
1               491  149   47  12   6   48  0.303  0.485  Daniel Mora
2               475  130   47  14   8   54  0.274  0.482  Daniel Mora
3               477  160   48   7  14   59  0.335  0.553  Daniel Mora
4               474  148   37  10   9   46  0.312  0.489  Daniel Mora
5               461  148   35  11   6   40  0.321  0.484  Daniel Mora
Career Totals  2869  902  248  67  46  283  0.314  0.496  Daniel Mora

# Pitching Example

# Fielding Example