In [1]:
from sportfaker.baseball import batting

empty

In [2]:
batting(CAREER_LENGTH=6)

                 AB Hits   2B  3B  HR  RBI    AVG    SLG         Name
0               471  148   29  10   5   34  0.314  0.450  Brian Owens
1               486  175   25  10   8   38  0.360  0.502  Brian Owens
2               476  163   39  12  12   56  0.342  0.550  Brian Owens
3               513  148   41  10  13   56  0.288  0.483  Brian Owens
4               485  158   34   9  10   46  0.326  0.495  Brian Owens
5               486  155   56  14   9   60  0.319  0.547  Brian Owens
Career Totals  2917  947  224  65  57  290  0.325  0.505  Brian Owens