# Import Library

In [1]:
from sportfaker.baseball import batting

empty

# Batting Example

In [3]:
batting(CAREER_LENGTH=15)

,AGE,AB,Hits,2B,3B,HR,RBI,BB,AVG,OBP,SLG,OPS,Name
0,25,566,154,35,13,26,82,66,0.272,0.388,0.518,0.906,Mario Mosley
1,26,556,147,36,2,24,68,46,0.264,0.348,0.466,0.814,Mario Mosley
2,27,551,153,30,8,32,87,89,0.278,0.439,0.535,0.974,Mario Mosley
3,28,569,144,35,8,26,78,106,0.253,0.439,0.480,0.919,Mario Mosley
4,29,557,163,25,8,26,72,73,0.293,0.423,0.506,0.929,Mario Mosley
5,30,567,151,28,15,21,71,98,0.266,0.439,0.480,0.919,Mario Mosley
6,31,544,128,31,14,27,84,36,0.235,0.301,0.493,0.794,Mario Mosley
7,32,561,154,31,10,34,94,48,0.275,0.361,0.547,0.908,Mario Mosley
8,33,561,163,26,6,28,75,58,0.291,0.393,0.508,0.901,Mario Mosley
9,34,552,160,27,12,36,98,44,0.290,0.370,0.578,0.948,Mario Mosley
10,35,566,156,39,8,30,88,39,0.276,0.344,0.532,0.876,Mario Mosley
11,36,574,171,16,4,30,72,69,0.298,0.418,0.497,0.915,Mario Mosley
12,37,582,149,31,4,17,54,37,0.256,0.320,0.411,0.731,Mario Mosley
13,38,558,148,28,7,25,71,76,0.265,0.402,0.475,0.877,Mario Mosley
14,39,571,147,18,11,18,56,79,0.257,0.397,0.422,0.819,Mario Mosley
Career Totals,480,8435,2288,436,130,400,1150,964,0.271,0.385,0.497,0.882,Mario Mosley

# Pitching Example

# Fielding Example