# Import Library

In [1]:
from baseballfaker.baseball import batting
from baseballfaker.baseball import pitching

empty

# Batting Example

In [21]:
batting(CAREER_LENGTH=1_000_000, 
        skill_level=.99).sort_values("RBI", ascending=False)

,AGE,AB,Hits,2B,3B,HR,RBI,BB,AVG,OBP,SLG,OPS,Name
Career Totals,500022500000,566991561,177650691,26868017,8956513,26874014,76138388,84643427,0.313,0.463,0.535,0.997,Jesse Lowe
2890,2913,570,182,53,13,54,148,78,0.319,0.455,0.742,1.197,Jesse Lowe
624098,624121,560,188,35,16,54,142,50,0.336,0.425,0.745,1.170,Jesse Lowe
535320,535343,577,180,30,18,54,141,90,0.312,0.468,0.707,1.175,Jesse Lowe
345360,345383,564,186,43,10,54,140,49,0.330,0.416,0.729,1.145,Jesse Lowe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
919106,919129,573,163,20,8,5,28,129,0.284,0.510,0.373,0.883,Jesse Lowe
86178,86201,547,188,25,7,4,28,121,0.344,0.566,0.437,1.003,Jesse Lowe
630358,630381,560,141,22,3,6,26,63,0.252,0.364,0.334,0.698,Jesse Lowe
229992,230015,576,182,20,6,5,26,45,0.316,0.393,0.398,0.791,Jesse Lowe
77889,77912,572,185,18,3,6,24,79,0.323,0.462,0.397,0.859,Jesse Lowe

# Pitching Example

In [14]:
pitching(CAREER_LENGTH=7,
         skill_level=.975)

,AGE,W,L,ERA,IP,K,BB,H,HR,SV,BS,WHIP,Name
0,21,14,8,2.10,182,233,60,61,0,0,0,0.665,Keith Gonzales
1,22,17,6,2.66,151,223,61,64,0,0,0,0.828,Keith Gonzales
2,23,3,6,2.44,197,161,60,61,0,0,0,0.614,Keith Gonzales
3,24,9,2,2.49,196,214,60,64,0,0,0,0.633,Keith Gonzales
4,25,9,1,2.40,191,152,60,62,0,0,0,0.639,Keith Gonzales
5,26,12,9,2.55,214,64,61,63,0,0,0,0.579,Keith Gonzales
6,27,7,5,3.05,170,248,60,64,0,0,0,0.729,Keith Gonzales
Career Totals,168,71,37,2.53,1301,1295,422,439,0,0,0,0.670,Keith Gonzales