# Import Library

In [1]:
from sportfaker.baseball import batting
from sportfaker.baseball import pitching

empty

# Batting Example

In [2]:
batting(CAREER_LENGTH=5)

,AGE,AB,Hits,2B,3B,HR,RBI,BB,AVG,OBP,SLG,OPS,Name
0,20,559,159,25,8,22,64,59,0.284,0.391,0.476,0.867,Daniel Rosario
1,21,565,168,18,8,28,73,42,0.297,0.371,0.506,0.877,Daniel Rosario
2,22,572,159,29,11,20,66,113,0.278,0.475,0.472,0.947,Daniel Rosario
3,23,573,155,24,5,26,69,102,0.271,0.448,0.466,0.914,Daniel Rosario
4,24,554,147,21,7,31,80,72,0.265,0.395,0.496,0.891,Daniel Rosario
Career Totals,110,2823,788,117,39,127,352,388,0.279,0.416,0.483,0.899,Daniel Rosario

# Pitching Example

In [4]:
pitching(CAREER_LENGTH=5)

,AGE,W,L,ERA,IP,K,BB,H,HR,BS,WHIP,Name
0,26,5,11,4.88,208,281,47,132,23,4,0.861,Shawn Stein
1,27,18,11,4.96,212,172,82,140,15,0,1.047,Shawn Stein
2,28,21,17,4.77,184,251,68,105,37,3,0.940,Shawn Stein
3,29,13,4,2.84,174,118,57,127,3,3,1.057,Shawn Stein
4,30,7,8,4.36,163,219,99,148,7,0,1.515,Shawn Stein
Career Totals,140,64,51,4.36,941,1041,353,652,85,10,1.084,Shawn Stein