# Import Library

In [1]:
from sportfaker.baseball import batting
from sportfaker.baseball import pitching

empty

# Batting Example

In [12]:
batting(CAREER_LENGTH=5)

,AGE,AB,Hits,2B,3B,HR,RBI,BB,AVG,OBP,SLG,OPS,Name
0,20,582,166,27,7,28,76,44,0.285,0.361,0.500,0.861,Jason Garcia
1,21,575,149,23,11,28,78,86,0.259,0.408,0.483,0.891,Jason Garcia
2,22,558,164,23,4,12,40,51,0.294,0.385,0.414,0.799,Jason Garcia
3,23,577,159,33,12,29,86,35,0.276,0.337,0.525,0.862,Jason Garcia
4,24,565,167,34,6,31,85,46,0.296,0.377,0.542,0.919,Jason Garcia
Career Totals,110,2857,805,140,40,128,365,262,0.282,0.374,0.493,0.866,Jason Garcia

# Pitching Example

In [10]:
pitching(CAREER_LENGTH=5)

,AGE,W,L,ERA,IP,K,BB,H,HR,SV,BS,WHIP,Name
0,24,12,4,2.25,218,180,61,198,33,2,3,1.188,Victor Parrish
1,25,22,13,2.04,154,193,34,120,34,0,2,1.000,Victor Parrish
2,26,10,2,2.93,186,165,29,102,33,0,2,0.704,Victor Parrish
3,27,23,0,2.13,190,163,42,109,2,0,2,0.795,Victor Parrish
4,28,24,8,4.71,171,221,56,191,3,4,1,1.444,Victor Parrish
Career Totals,130,91,27,2.81,919,922,222,720,105,6,10,1.026,Victor Parrish