# Import Library

In [1]:
from sportfaker.baseball import batting
from sportfaker.baseball import pitching

empty

# Batting Example

In [2]:
batting(CAREER_LENGTH=5, 
        skill_level=1)

,AGE,AB,Hits,2B,3B,HR,RBI,BB,AVG,OBP,SLG,OPS,Name
0,25,563,139,26,9,36,94,99,0.247,0.423,0.517,0.940,Philip Santiago
1,26,578,175,24,4,25,66,75,0.303,0.432,0.488,0.920,Philip Santiago
2,27,562,157,33,7,36,96,76,0.279,0.415,0.555,0.970,Philip Santiago
3,28,556,153,21,1,26,64,84,0.275,0.427,0.457,0.884,Philip Santiago
4,29,552,145,25,4,18,52,78,0.263,0.405,0.420,0.825,Philip Santiago
Career Totals,135,2811,769,129,25,141,372,412,0.273,0.420,0.487,0.908,Philip Santiago

# Pitching Example

In [13]:
pitching(CAREER_LENGTH=18,
         skill_level=.78)

,AGE,W,L,ERA,IP,K,BB,H,HR,SV,BS,WHIP,Name
0,23,8,3,3.13,170.701605,233,7,13,4,1,0,0.117,Jimmy Lucas
1,24,9,4,3.40,170.23957,151,9,11,3,2,0,0.117,Jimmy Lucas
2,25,13,1,2.69,200.706316,55,2,18,5,0,0,0.100,Jimmy Lucas
3,26,5,2,2.96,206.252514,9,11,35,6,2,0,0.223,Jimmy Lucas
4,27,9,3,3.42,202.151533,45,6,22,2,0,0,0.139,Jimmy Lucas
5,28,6,4,3.09,170.650532,215,2,5,3,0,0,0.041,Jimmy Lucas
6,29,18,1,3.23,187.047959,97,4,27,3,2,0,0.166,Jimmy Lucas
7,30,18,0,3.39,176.779334,231,16,7,5,1,0,0.130,Jimmy Lucas
8,31,17,4,2.69,152.193374,22,3,16,6,1,0,0.125,Jimmy Lucas
9,32,10,2,3.05,197.861919,127,4,17,6,1,0,0.106,Jimmy Lucas
10,33,10,2,3.25,168.480892,215,1,38,2,2,0,0.231,Jimmy Lucas
11,34,16,0,2.69,185.916631,191,0,39,7,0,0,0.210,Jimmy Lucas
12,35,12,2,3.33,158.026769,49,8,27,0,0,0,0.221,Jimmy Lucas
13,36,13,1,2.97,206.059536,143,17,41,1,0,0,0.281,Jimmy Lucas
14,37,13,3,3.20,161.600507,5,15,6,6,0,0,0.130,Jimmy Lucas
15,38,11,0,3.18,171.395309,233,4,34,2,1,0,0.222,Jimmy Lucas
16,39,7,3,3.25,162.356076,15,19,35,4,1,0,0.333,Jimmy Lucas
17,40,5,1,2.99,205.264269,136,11,19,7,2,0,0.146,Jimmy Lucas
Career Totals,567,200,36,3.11,3253.684644,2172,139,410,72,16,0,0.169,Jimmy Lucas