In [1]:
from generator import baseball_batting

In [6]:
baseball_batting(CAREER_LENGTH=7)

                 AB  Hits    AVG   2B  3B  HR  RBI             Name
0               482   169  0.351   47   5   9   46  Marcus Williams
1               486   149  0.307   29   8   7   36  Marcus Williams
2               473   157  0.332   38   9   6   40  Marcus Williams
3               483   154  0.319   44  21  15   73  Marcus Williams
4               498   150  0.301   36   7   9   43  Marcus Williams
5               458   161  0.352   32  12   7   42  Marcus Williams
6               469   152  0.324   32  11   8   43  Marcus Williams
Career Totals  3349  1092  0.327  258  73  61  323  Marcus Williams