In [1]:
from sportfaker import baseball_batting

In [2]:
baseball_batting(CAREER_LENGTH=4)

                 AB Hits    AVG   2B  3B  HR  RBI    SLG       Name
0               511  190  0.372   46  10   7   47  0.542  Gary Hale
1               482  155  0.322   51  10   9   54  0.525  Gary Hale
2               496  167  0.337   32   8   8   40  0.482  Gary Hale
3               502  174  0.347   38  10   6   41  0.498  Gary Hale
Career Totals  1991  686  0.344  167  38  30  182  0.512  Gary Hale