In [1]:
from sportfaker import baseball_batting

In [4]:
baseball_batting(CAREER_LENGTH=4)

                 AB Hits    AVG   2B  3B  HR  RBI             Name
0               475  147  0.309   35  10  11   50  William Oconnor
1               491  164  0.334   44   6   5   38  William Oconnor
2               501  175  0.349   33   9  12   50  William Oconnor
3               466  154  0.330   40  12   9   50  William Oconnor
Career Totals  1933  640  0.330  152  37  37  188  William Oconnor