In [1]:
from generator import generation
import pandas as pd

In [11]:
generation(CAREER_LENGTH=7, 
           DETERMINISTIC=True)

                 AB  Hits    AVG   2B  3B  HR          Name
0               497   185  0.372   43  13  17  Gabriel Reed
1               481   153  0.318   30  11   8  Gabriel Reed
2               507   191  0.377   31   2   9  Gabriel Reed
3               511   160  0.313   51  10  11  Gabriel Reed
4               464   146  0.315   36   7   8  Gabriel Reed
5               497   144  0.290   43   7   7  Gabriel Reed
6               473   149  0.315   54   9  13  Gabriel Reed
Career Totals  3430  1128  0.329  288  59  73  Gabriel Reed